<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>Cadastro de Usuários</h2>
        </div>

        <button type="button" class="btn btn-success mx-2 mt-5 mb-5" routerLink="cadastro">Cadastrar Usuário</button>
        <div class="mb-3">
            <label class="form-label mx-2 fw-bold">Pesquisar:</label>
            <input type="text" class="form-control w-25 mx-2" placeholder="Buscar usuário"
                (input)="PesquisarUsuario($event)" />
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Cargo</th>
                        <th>Salário</th>
                        <th>Situação</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>

                    @if (usuarios.length == 0) {
                    <tr>
                        <td colspan="7" class="text-center fw-bold">Nenhum usuário encontrado</td>
                    </tr>
                    }

                    @for (usuario of usuarios; track $index) {
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.cargo }}</td>
                        <td>{{ usuario.salario }}</td>
                        <td>{{ usuario.situacao ? 'Ativo' : 'Inativo' }}</td>
                        <td>
                            <button type="button" class="btn btn-primary mx-2">Detalhes</button>
                            <button type="button" class="btn btn-warning mx-2">Editar</button>
                            <button type="button" (click)="DeletarUsuario(usuario.id)"
                                class="btn btn-danger mx-2">Excluir</button>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>